html {
  font-family: sans-serif;
}

p {
  margin: 0 0 1rem 0;
}

.controls {
  padding: 4vw;
  width: 75%;
  margin: 3vw auto;
}

.controls label,
.controls p,
.controls input {
  font-size: 19px;
}

.controls div {
  padding-bottom: 1rem;
}
